li {
    color: rgb(207, 192, 200);
    list-style: none;
    margin: 5px;
}

li:hover {
    color: rgb(211, 175, 194);
    cursor: pointer;
}

ul {
    top: 35px;
}

.menuContainer {
    /* background-color: rgba(81, 56, 94, 0.5); */
    /* height: 100%; */
    left: 0;
    max-height: 50%;
    overflow-y: hidden;
    position: fixed;
    transition-duration: .5s;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    top: 35px;
    width: 20%;
}

.menuContainer.closed {
    max-height: 0%;
}

